<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PassKey Demo</title>
</head>

<body>
    <label for="email">Email:</label>
    <input type="text" name="username" id="email" placeholder="Enter your email">
    <br>
    <br>
    <button onclick="registerUser()">Register</button>
    <button onclick="loginUser()">Login</button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (!window.PublicKeyCredential) {
                alert("Error: this browser does not support WebAuthn");
            }
        });

        // Base64 to ArrayBuffer
        function bufferDecode(value) {
            const decoded = atob(value);
            const array = new Uint8Array(decoded.length);
            for (let i = 0; i < decoded.length; i++) {
                array[i] = decoded.charCodeAt(i);
            }
            return array;
        }

        function registerUser() {
            const username = document.getElementById("email").value;
            if (username === "") {
                alert("Please enter a username");
                return;
            }

            fetch(`/register/begin/${username}`).then(function(response) {
                return response.json();
            }).then(credentialCreationOptions => {
                credentialCreationOptions.publicKey.challenge = bufferDecode(credentialCreationOptions.publicKey.challenge);
                credentialCreationOptions.publicKey.user.id = bufferDecode(credentialCreationOptions.publicKey.user.id);

                return navigator.credentials.create({
                    publicKey: credentialCreationOptions.publicKey
                })
            }).then(credential => {
                console.log(credential)
            }).catch(err => {
                console.warn("Something went wrong.", err);
            })
        }

        function loginUser() {
            alert("login not yet implemented");
        }
    </script>
</body>
</html>